input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
    font-size: 20px;
}

.logoAndBrandName {
    padding-left: 10px;
    display: flex;
}

.smallLogoImage {
    height: 80px;
    width: 80px;
}

.smallBrandName {
    font-size: 36px;
    font-weight: bold;
}

.bigLogoImage {
    height: 200px;
    width: 200px;
}

.bigBrandName {
    font-size: 48px;
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 32px;
    font-weight: bold;
}

.errorMessage {
    font-size: 28px;
    color: red;
}

.searchInput {
    height: 50px;
    width: 450px;
    min-width: 30%;
    max-width: 90%;
    top: 10px;
    font-size: 38px;
    border: 0px;
    outline: 0px;
    background: transparent;
    border-bottom: 1px solid black;
}

.videoPlayer {
    display: flex;
    justify-content: center;
}
@import url("../styles/NavBar.css");
@import url("../styles/Footer.css");
@import url("../styles/ScamResult.css");